RIS/Ceshi/Service References/Yonghu/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="yonghu_denglu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zhanghao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mima" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="yonghu_dengluResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="yonghu_dengluResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>